<!-- <p>contact works!</p> -->
<section>
    <div
      class="container-fluid py-5 text-center"
      style="background-color: #101010; color: white"
    >
      <div class="container">
        <div class="row my-5">
          <div class="col-lg-12">
            <h1 class="heading">Contact Info</h1>
            <p class="mt-3">
              If the right project comes along, Feel free to contact me!
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 info">
            <i class="bi bi-phone icon"></i>
            <h3>Call Us On</h3>
            <p>+91 9910546369</p>
          </div>
          <div class="col-sm-6 info">
            <i class="bi bi-envelope icon"></i>
            <h3>Email</h3>
            <p><a href="mailto:imdemon9801@gmail.com">imdemon9801gmail.com</a></p>
          </div>
        </div>
        <div class="row text-start my-5">
          <div class="col-lg-12">
            <h1 class="heading my-5">Get In Touch</h1>
            <h2>Message Me</h2>
            <form action="" name="form">
              <div class="first d-flex justify-content-between">
                  <input type="text" placeholder="Name" />
                <input type="email" placeholder="Email" />
              </div>
              <div class="second">
                <input type="text" placeholder="subject" />
              </div>
              <div class="third">
                <textarea
                  rows="8"
                  name="textarea"
                  id=""
                  placeholder="Your message..."
                ></textarea>
                <input type="submit" value="Send Message" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  
