<section class=" text-light main-sec"
style="background-color: #101010;">
  <div class="container p-4 about">
    <h1 class="heading my-5 text-center">About Me</h1>
    <div class="row about justify-content-between">
      <div class="col-lg-5 main-image">
        <img src="photo.jpg" alt="myimage" class="img-fluid" />
      </div>
      <div class="col-lg-7 about-me pt-4">
        <h2 class="py-2">Who am i ?</h2>
        <h4 class="py-2">
          Hello! I'M <span style="color: var(--main)">Aditya Kumar</span>.
        </h4>
        <p class="bio">
          I am a Web developer based in the New Delhi and i have been building
          noteworthy UX/UI designs and websites for years, which comply with the
          latest design trends. I help convert a vision and an idea into
          meaningful and useful products. Having a sharp eye for product
          evolution helps me prioritize tasks, iterate fast and deliver faster.
        </p>
        <hr style="margin: 35px 0px;"/>
        <div class="row myinfo">
          <div class="col-lg-6">
            <p><b>Name&nbsp;:</b>&nbsp;&nbsp;Aditya Kumar</p>
            <p><b>age&nbsp;:</b>&nbsp;&nbsp;25</p>
          </div>
          <div class="col-lg-6">
            <p>
              <b>Email&nbsp;:</b>&nbsp;&nbsp;<a
                style="text-decoration: none; color: var(--main)"
                href="mailto:akaditya567@gmail.com"
                >akaditya567gmail.com</a
              >
            </p>
            <p><b>from&nbsp;:</b>&nbsp;&nbsp;New Delhi</p>
          </div>
          <div class="row mt-4 align-items-center">
            <div class="col-lg-4 my-3">
              <div>
                <a class="button" href="Aditya_kumar - webdeveloper cv.pdf" download="Aditya_kumar's-resume">Download CV</a>
              </div>
            </div>
            <div class="col-lg-8 my-3">
              <ul class="links ps-3">
                <li><a href="" target="_blank"><i class="bi bi-instagram"></i></a></li>
                <li><a href="" target="_blank"><i class="bi bi-linkedin"></i></a></li>
                <li><a href="" target="_blank"><i class="bi bi-github"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid  text-light py-5" style="background-color: #101010;">
    <div class="container p-4 my-services">
      <h1 class="heading">My Services</h1>
      <div class="row justify-content-between">
        <div class="col-md-6 col-lg-4 my-4
        col-sm-12 
        service-box">
          <i class="bi bi-easel2 icon"></i>
          <h3 class="my-4">Design Trends</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="col-md-6 col-lg-4 my-4
        col-sm-12
         service-box">
          <i class="bi bi-filetype-css icon"></i>
          <h3 class="my-4">Design Trends</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="col-md-6 col-lg-4 my-4
        col-sm-12
         service-box">
          <i class="bi bi-wordpress icon"></i>
          <h3 class="my-4">Design Trends</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="col-md-6 col-lg-4 my-4  service-box">
          <i class="bi bi-images icon"></i>
          <h3 class="my-4">Design Trends</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="col-md-6 col-lg-4 my-4 service-box">
          <i class="bi bi-filetype-js icon"></i>
          <h3 class="my-4">Design Trends</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="col-md-6 col-lg-4 my-4 service-box">
          <i class="bi bi-filetype-php icon"></i>
          <h3 class="my-4">Design Trends</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        
      </div>


    </div>
  </div>
</section>
