 <section>
    <div
      class="container-fluid py-5"
      class="text-light main-sec"
      style="background-color: #101010"
    >
      <div class="container p-5">
        <h1 class="text-center heading fw-bold">Resume
          <a href="Aditya_kumar - webdeveloper cv.pdf" download="Aditya_kumar's-resume" class="ms-5"><span><i class="bi bi-person-workspace link"></i></span></a>
        </h1>
        <div class="row justify-content-center mt-5">
          <div class="col-lg-9 resume my-3">
            <div style="position: relative;">
              <div style="position: absolute; top: -20px; left: -62px;"><i class="bi bi-caret-right-fill icon"></i></div>
              <h4>Maac</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Consequuntur, rerum?
              </p>
            </div>
          </div>
          <div class="col-lg-9 resume my-3">
            <div style="position: relative;">
              <div style="position: absolute; top: -20px; left: -62px;"><i class="bi bi-caret-right-fill icon"></i></div>
              <h4>12th class</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Consequuntur, rerum?
              </p>
            </div>
          </div>
          <div class="col-lg-9 resume my-3">
            <div style="position: relative;">
              <div style="position: absolute; top: -20px; left: -62px;"><i class="bi bi-caret-right-fill icon"></i></div>
              <h4>10th class</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Consequuntur, rerum?
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div
      class="container-fluid py-5 text-light main-sec"
      style="background-color: #101010"
    >
      <div class="container px-4">
        <h1 class="text-center heading fw-bold">My Skills</h1>
        <div class="row justify-content-around">
          <div class="col-lg-5 skills mt-5">
            <h5>HTML 5</h5>
            <div class="d-flex flex-row align-items-center justify-content-between flex-row">
              <div
                class="col-sm-10 rounded d-flex flex-row"
                style="
                  width: 81%;
                  height: 6px;
                  background-color: white;
                  padding: 0px;
                "
              >
                <div
                  class="rounded"
                  style="width: 80%; background-color: var(--main); height: auto"
                ></div>
              </div>
              <div class="col-sm-2 text-center">70%</div>
            </div>
          </div>
          <div class="col-lg-5 skills mt-5">
            <h5>CSS 3</h5>
            <div class="d-flex flex-row align-items-center justify-content-between">
              <div
                class="col-sm-10 rounded d-flex"
                style="
                  width: 81%;
                  height: 6px;
                  background-color: white;
                  padding: 0px;
                "
              >
                <div
                  class="rounded"
                  style="width: 80%; background-color: var(--main); height: auto"
                ></div>
              </div>
              <div class="col-sm-2 text-center">20%</div>
            </div>
          </div>
          <div class="col-lg-5 skills mt-5">
              <h5>HTML 5</h5>
              <div class="d-flex flex-row align-items-center justify-content-between">
                <div
                  class="col-sm-10 rounded d-flex"
                  style="
                    width: 81%;
                    height: 6px;
                    background-color: white;
                    padding: 0px;
                  "
                >
                  <div
                    class="rounded"
                    style="width: 80%; background-color: var(--main); height: auto"
                  ></div>
                </div>
                <div class="col-sm-2 text-center">80%</div>
              </div>
            </div>
            <div class="col-lg-5 skills mt-5">
              <h5>HTML 5</h5>
              <div class="d-flex flex-row align-items-center justify-content-between">
                <div
                  class="col-sm-10 rounded d-flex"
                  style="
                    width: 81%;
                    height: 6px;
                    background-color: white;
                    padding: 0px;
                  "
                >
                  <div
                    class="rounded"
                    style="width: 80%; background-color: var(--main); height: auto"
                  ></div>
                </div>
                <div class="col-sm-2 text-center">80%</div>
              </div>
            </div>
            <div class="col-lg-5 skills mt-5">
              <h5>HTML 5</h5>
              <div class="d-flex flex-row align-items-center justify-content-between">
                <div
                  class="col-sm-10 rounded d-flex"
                  style="
                    width: 81%;
                    height: 6px;
                    background-color: white;
                    padding: 0px;
                  "
                >
                  <div
                    class="rounded"
                    style="width: 80%; background-color: var(--main); height: auto"
                  ></div>
                </div>
                <div class="col-sm-2 text-center">80%</div>
              </div>
            </div>
            <div class="col-lg-5 skills mt-5">
              <h5>HTML 5</h5>
              <div class="d-flex flex-row align-items-center justify-content-between">
                <div
                  class="col-sm-10 rounded d-flex"
                  style="
                    width: 85%;
                    height: 6px;
                    background-color: white;
                    padding: 0px;
                  "
                >
                  <div
                    class="rounded"
                    style="width: 80%; background-color: var(--main); height: auto"
                  ></div>
                </div>
                <div class="col-sm-2 text-center">80%</div>
              </div>
            </div>
  
        </div>
  
  
      </div>
    </div>
  </section>
  <section>
      <div class="container-fluid py-5 text-light main-sec"
      style="background-color: #101010">
      <div class="container px-4">
          <h1 class="text-center heading fw-bold">My Projects
              <a href="https://github.com/KAditya567" target="_blank" class="ms-5"><span><i class="bi bi-github link"></i></span></a>
          </h1>
          <div class="row justify-content-center">
              <div class="col-lg-8 resume my-3" style="position: relative;">
                  <div style="position: absolute; top: 10px; left: -12px;"><i class="bi bi-caret-right-fill icon"></i></div>
                  <h5>Project name</h5>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
              <div class="col-lg-8 resume my-3" style="position: relative;">
                <div style="position: absolute; top: 10px; left: -12px;"><i class="bi bi-caret-right-fill icon"></i></div>
                  <h5>Project name</h5>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
              <div class="col-lg-8 resume my-3" style="position: relative;">
                <div style="position: absolute; top: 10px; left: -12px;"><i class="bi bi-caret-right-fill icon"></i></div>
                  <h5>Project name</h5>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
              <div class="col-lg-8 resume my-3" style="position: relative;">
                <div style="position: absolute; top: 10px; left: -12px;"><i class="bi bi-caret-right-fill icon"></i></div>
                  <h5>Project name</h5>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
              </div>
          </div>
      </div>
  
      </div>
  </section>
  
